<div id="main">
  <div class="title">
    <div>
      <img src="/images/dhlp2.png?timestamp=<%= timestamp %>">礼品兑换 -
      <img src="/images/qian.png?timestamp=<%= timestamp %>">消费录入
    </div>
    <div>Gift Redemption - Purchase Entry</div>
  </div>
  <div class="content">
    <div class="content_1">
      <div class="act">
        <p>
          <img src="/images/qian.png?timestamp=<%= timestamp %>">
          消费信息录入 / Purchase Entry
        </p>
      </div>
    </div>
    <div class="content_2">
      <a href="javascript:void (0)" class="xinZeng" onClick="window.TKH.addRecordInput();">增加记录 / Add record</a>
    </div>
  </div>
  <div class="anNiu">
    <a href="javascript:void(0);" class="sy" onclick='window.TKH.redirect_to_with_timestamp("search.html");'>上一页<br/>Previous</a>
    <a href="javascript:void(0);" class="xy">下一页<br/>Next</a>
  </div>
</div>
<div class="xuanZe">
  <div>
    <a href="javascript:void (0)" class="xuanZe_gb">
      <img src="/images/gb.png?timestamp=<%= timestamp %>">
    </a>
    <p>
      <img src="/images/xuanZe.png?timestamp=<%= timestamp %>">
      请选择商户 / Find merchant
    </p>
    <div class="hangHu"></div>
  </div>
</div>
<div class="gn">
  <div class="dj">
    <div>
      <img src="/images/gn1.png?timestamp=<%= timestamp %>" class="xs" alt="">
      <img src="/images/gn2.png?timestamp=<%= timestamp %>" class="yc" alt="">
    </div>


    <div style="display:none;">
      <img src="/images/gn2.png?timestamp=<%= timestamp %>">
    </div>
  </div>
  <div class="nr">
    <div>礼品兑换系统</div>
    <p class="lp">
      <a href="search.html">
        <img src="/images/dhlp.png?timestamp=<%= timestamp %>">礼品兑换</a></p>
    <p class="mm">
      <img src="/images/bi.png?timestamp=<%= timestamp %>" class="bi" alt="">修改密码</p>
    <p class="tuichu" onclick="window.TKH.logout();">
      <img src="/images/dl2.png?timestamp=<%= timestamp %>">退出登录</p>
    <div class="renWu">
      <img src="/images/renWu.png?timestamp=<%= timestamp %>">
      <p id="userGid"></p>
      <p class="time"></p>
    </div>
  </div>
</div>
<div class="xg">
  <div>
    <a href="javascript:void (0)" class="gb">
      <img src="/images/gb.png?timestamp=<%= timestamp %>"></a>
    <div class="xg_content">
      <div class="suo">
        <img src="/images/bi.png?timestamp=<%= timestamp %>"></div>
      <div class="xg_info">
        <p class="title">修改密码</p>
        <input type="password" id="oldPassword" placeholder="旧密码" />
        <input type="password" id="newPassword" placeholder="新密码" />
        <input type="password" id="rePassword" placeholder="再次输入新密码" />
        <a onclick='window.ServerAPI.resetPassword();' href="javascript:void(0);" class="cs mima">确认修改密码</a></div>
    </div>
  </div>
</div>

<script>
$(function() {
  // 初始一个，消费记录输入框
  window.TKH.addRecordInput();

  // 若已录入消费记录，此处还原
  // 场景：录入后，从兑奖页面返回时
  var recordString = window.localStorage.getItem("records");
  if (recordString !== null && recordString.length > 0) {
    var records = JSON.parse(recordString),
    record = {},
    today_amount = 0,
    dq_count = 0;

    $('.content_2 .dq-wrapper').remove();
    for (var i = 0,
    len = records.length; i < len; i++) {
      dq_count = $(".content_2 .dq-wrapper").length + 1;
      record = records[i];
      $('.content_2').append('<div class="dq-wrapper dq-wrapper-' + dq_count + '">\
         <div class="dp"> \
           <p>店铺名称 / Merchant</p>\
           <input type="text" placeholder="店铺名称" class="store-name" value="' + record["name"] + '" />\
           <input type="hidden" placeholder="GNDGID" class="gndgid" value="' + record["gndgid"] + '" />\
          <a href="javascript:void (0)" onClick="window.TKH.searchDQM(this);" class="search"><img src="/images/search.png?timestamp=1492782987"/></a>\
         </div>\
         <div>\
           <p>流水号 / Serial Number</p>\
           <input type="text" placeholder="流水号" class="serial-num" value="' + record["serialnum"] + '"/>\
         </div>\
         <div style="width: 28%;">\
           <p>消费时间 / Time</p>\
           <input type="datetime-local" value="' + (new Date).format('yyyy-MM-ddThh:mm') + '" placeholder="" class="datetime"/>\
         </div>\
         <div  style="width: 12%;">\
           <p>消费金额 / Amount</p>\
           <input type="number" placeholder="0.00" class="amount" value="' + record["amount"] + '" />\
         </div>\
         </div>\
         <a href="javascript:void (0)" class="jian">-</a>\
       </div>');
    }
  }

  //删除新增
  $(document).on('click', '.jian',
  function() {
    $(this).parent().remove();
  });

  //关闭选择商户
  $('.xuanZe_gb').click(function() {
    $('.xuanZe').fadeOut(200);
  });

  $(document).on('blur', '.amount',
  function() {
    var val = $(this).val();
    var reg = /^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$/;
    if (!reg.test(val)) {
      layer.msg('请正确填写金额！', { time: 2000 });
    }
  });

  //下一页
  $('.xy').on('click', function() {
    if(!$("input.store-name").length) {
      layer.msg('你今日还没有消费记录，请填写消费记录！', {time: 2000});
      is_error = 1;
      return false;
    }

    var reg = /^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$/,
        name = '',
        amount = '',
        serialnum = '',
        serialnums = [],
        gndgid = '',
        record = {},
        records = [],
        is_error = 0;
    $(".dq-wrapper").each(function() {
      name = $(this).find("input.store-name").val();
      serialnum = $(this).find("input.serial-num").val();
      amount = $(this).find("input.amount").val();
      gndgid = $(this).find("input.gndgid").val();

      if(!name.length) {
        layer.tips('店铺名称不能为空', $(this).find('.store-name'), { tips: [3, '#faab20'] });
        is_error = 1;
        return false;
      }

      if(!serialnum.length) {
        layer.tips('流水号不能为空', $(this).find('.serial-num'), { tips: [3, '#faab20'] });
        is_error = 1;
        return false;
      }

      if(!amount.length) {
        layer.tips('请正确填写金额', $(this).find('.amount'), { tips: [3, '#faab20'] });
        is_error = 1;
        return false;
      }

      if(serialnum.length > 30) {
        layer.tips('请输入正确的流水号', $(this).find('.serial-num'), { tips: [3, '#faab20'] });
        is_error = 1;
        return false;
      }
      if(serialnums.indexOf(serialnum) >= 0) {
        layer.tips('流水号重复', $(this).find('.serial-num'), { tips: [3, '#faab20'] });
        is_error = 1;
        return false;
      }

      serialnums.push(serialnum);
      record = {};
      record["name"] = name;
      record["serialnum"] = serialnum;
      record["amount"] = amount;
      record["gndgid"] = gndgid;
      records.push(record);
    })

    if (!is_error) {
      window.localStorage.setItem("records", JSON.stringify(records));
      window.TKH.redirect_to_with_timestamp('exchange.html');
    }
  });
});
</script>
