<script src="/javascripts/jquery.jedate.js?timestamp=<%= timestamp %>"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/jquery.jedate.css?timestamp=<%= timestamp %>">
<div id="main">
  <div class="title">
    <div>
      <img src="/images/dhlp2.png?timestamp=<%= timestamp %>">消费积分 -
      <img src="/images/qian.png?timestamp=<%= timestamp %>">消费录入
    </div>
    <div>Purchase Points - Purchase Entry</div>
  </div>
  <div class="content">
    <div class="content_1">
      <div class="act">
        <p>
          <img src="/images/qian.png?timestamp=<%= timestamp %>">
          积分录入 / Score Input
        </p>
      </div>
    </div>
    <div class="content_2">
      <a href="javascript:void(0);" class="xinZeng" onClick="window.TKH.addRecordInput();">增加记录 / Add record</a>
    </div>
  </div>
  <div class="anNiu">
    <a href="javascript:void(0);" class="sy" onclick='window.TKH.redirect_to_with_telphone("search.html");'>上一页<br/>Previous</a>
    <a href="javascript:void(0);" class="xy submit-btn">提交<br/>Submit</a>
    <a style="display: none;" href="javascript:void(0);" class="xy skip-btn">提交<br/>Submit</a>
    <button class="xy" id='nextPage' style="display:none;" onclick='window.TKH.redirect_to_with_timestamp("score-complete.html");'>下一步<br/>Next</button>
  </div>
</div>
<div class="xuanZe">
  <div>
    <a href="javascript:void(0);" class="xuanZe_gb" onclick="window.TKH.hideDQM();">
      <img src="/images/gb.png?timestamp=<%= timestamp %>">
    </a>
    <p>
      <img src="/images/xuanZe.png?timestamp=<%= timestamp %>">
      请选择商户 / Find merchant
    </p>
    <p>
      <input type="search" class='search-store'  placeholder="商户 / merchant" />
    </p>
    <div class="hangHu"></div>
  </div>
</div>
<div class="gn">
  <div class="dj">
    <div>
      <img src="/images/gn1.png?timestamp=<%= timestamp %>" class="xs" alt="">
      <img src="/images/gn2.png?timestamp=<%= timestamp %>" class="yc" alt="">
    </div>

    <div style="display:none;">
      <img src="/images/gn2.png?timestamp=<%= timestamp %>">
    </div>
  </div>
  <div class="nr">
    <div>礼品兑换系统</div>
    <p class="lp">
      <a href="search.html">
        <img src="/images/dhlp.png?timestamp=<%= timestamp %>">礼品兑换</a></p>
    <p class="mm">
      <img src="/images/bi.png?timestamp=<%= timestamp %>" class="bi" alt="">修改密码</p>
    <p class="tuichu" onclick="window.TKH.logout();">
      <img src="/images/dl2.png?timestamp=<%= timestamp %>">退出登录</p>
    <div class="renWu">
      <img src="/images/renWu.png?timestamp=<%= timestamp %>">
      <p id="userGid"></p>
      <p class="time"></p>
    </div>
  </div>
</div>
<div class="xg">
  <div>
    <a href="javascript:void(0);" class="gb">
      <img src="/images/gb.png?timestamp=<%= timestamp %>"></a>
    <div class="xg_content">
      <div class="suo">
        <img src="/images/bi.png?timestamp=<%= timestamp %>"></div>
      <div class="xg_info">
        <p class="title">修改密码</p>
        <input type="password" id="oldPassword" placeholder="旧密码" />
        <input type="password" id="newPassword" placeholder="新密码" />
        <input type="password" id="rePassword" placeholder="再次输入新密码" />
        <a onclick='window.ServerAPI.resetPassword();' href="javascript:void(0);" class="cs mima">确认修改密码</a></div>
    </div>
  </div>
</div>

<style>
.tishibuton .cs { margin: 0.5rem !important; }
.tishibuton .button { margin: 0.5rem !important; }
</style>
<div class="tishibuton-area" style="display:none;">
  <div style="min-height:120px; text-align:center; font-size:16px; line-height:30px; background: #333; color:lightgray;padding-top:20px;">
    <p class="">是否确认提交此次录入信息</p>
    <div style="margin: 0 auto;margin-top:20px;">
    <a style="margin-right:20px"  href="javascript:void(0);" onclick='window.TKH.backToUpdateScoreInput("消费积分");' class="button">否（返回修改或重新提交积分）</a>
    <a href="javascript:void(0);" onclick="window.TKH.skipStoreToScoreComplete();" class="button score-input" style='margin-right:20px'>是（跳转到完成界面）</a>
  </div>
  </div>
</div>

<script>
$(function() {
  // 初始一个，积分输入框
  window.TKH.addRecordInput();

  // 搜索
  function display_searched_store(keywords) {
    var store_name = "",
        matched = false;
    $(".hangHu .soudingname").each(function() {
      store_name = $(this).data("name").toLowerCase();
      matched = false;
      for(var i = 0, len = keywords.length; i < len; i ++) {
        if(store_name.indexOf(keywords[i]) >= 0) {  matched = true; }
      }

      $(this).css("display", (matched ? "inline-block" : "none"));
    });
  }
  $(".search-store").bind("keyup", function() {
    var keyword = $.trim($(this).val()),
        keywords = [];
    if(!keyword.length) {
      $(".hangHu .soudingname").css("display", "inline-block");
      return false;
    }
    keywords = keyword.toLowerCase().split(/\s+/);
    console.log(keywords);
    display_searched_store(keywords);
  });

  //下一页
  $('.submit-btn').on('click', function() {
    if(!$("input.store-name").length) {
      layer.msg('你今日还没有消费记录，请填写消费记录！', {time: 2000});
      is_error = 1;
      return false;
    }
    var reg = /^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$/,
        store_code = '',
        amount,
        score,
        serial_num = '',
        serial_nums = [],
        store_and_datetime = '',
        store_and_datetimes = [],
        datetime = '',
        is_error = 0,
        all_is_ok = 1,
        store_name = '',
        amount = '',
        gndgid = '',
        gndcode = '',
        record = {},
        records = [],
        data = null,
        datas = [],
        card_number = window.localStorage.getItem('sFCARDNUM'),
        wrapper_class,
        serial_num_with_store_code,
        layer_index;

    var is_all_ok = true;
    // 已提交成功的消费项
    $(".dq-wrapper").each(function() {
      if($(this).data("submited") === "yes") {
        name = $(this).find("input.store-name").val();
        serialnum = $(this).find("input.serial-num").val();
        amount = $(this).find("input.amount").val();
        gndgid = $(this).find("input.gndgid").val();
        gndcode = $(this).find("input.gndcode").val();
        datetime = $(this).find("input.datetime").val();

        serial_num_with_store_code = gndcode + serialnum;
        serial_nums.push(serial_num_with_store_code);
        store_and_datetime = gndgid + datetime;
        store_and_datetimes.push(store_and_datetime);
      } else {
        is_all_ok = false;
      }
    });

    // 全部积分提交成功，则跳转页面
    if(is_all_ok) {
      window.TKH.refreshRedeemScoreInput(true);
      window.TKH.redirect_to_with_timestamp('score-complete.html');
      return false;
    }

    $(".dq-wrapper").each(function() {
      store_name = $(this).find("input.store-name").val();
      serial_num = $(this).find("input.serial-num").val();
      amount = $(this).find("input.amount").val();
      gndgid = $(this).find("input.gndgid").val();
      gndcode = $(this).find("input.gndcode").val();
      datetime = $(this).find("input.datetime").val();
      store_and_datetime = gndgid + datetime;
      wrapper_class = $(this).attr("class").replace("dq-wrapper ", "");
      is_error = 0;

      if(!store_name.length) {
        layer.tips('店铺名称不能为空', $(this).find('.store-name'), { tips: [3, '#faab20'] });
        is_error = 1;
        all_is_ok = 0;
        return false;
      }

      if(!serial_num.length) {
        layer.tips('流水号不能为空', $(this).find('.serial-num'), { tips: [3, '#faab20'] });
        is_error = 1;
        all_is_ok = 0;
        return false;
      }

      if(serial_num.length > 30) {
        layer.tips('请输入正确的流水号', $(this).find('.serial-num'), { tips: [3, '#faab20'] });
        is_error = 1;
        all_is_ok = 0;
        return false;
      }

      if(!amount.length) {
        layer.tips('请正确填写金额', $(this).find('.amount'), { tips: [3, '#faab20'] });
        is_error = 1;
        all_is_ok = 0;
        return false;
      }
      serial_num_with_store_code = gndcode + serial_num;
      if(serial_nums.indexOf(serial_num_with_store_code) >= 0) {
        layer.tips('流水号重复', $(this).find('.serial-num'), { tips: [3, '#faab20'] });
        is_error = 1;
        all_is_ok = 0;
        return false;
      }
      if(store_and_datetimes.indexOf(store_and_datetime) >= 0) {
        layer.tips('请勿重复积分', $(this).find('.store-name'), { tips: [3, '#faab20'] });
        is_error = 1;
        all_is_ok = 0;
        return false;
      }

      serial_nums.push(serial_num_with_store_code);
      store_and_datetimes.push(store_and_datetime);
      data = {
        card_number: card_number,
        serial_num: serial_num,
        store_name: store_name,
        store_code: gndcode,
        real_amt: amount,
        score: parseInt(amount),
        datetime: datetime,
        wrapper_class: wrapper_class
      };
      datas.push(data);
    });

    if (all_is_ok) {
      $(".submit-btn").attr("disabled", "disabled");
      window.localStorage.setItem("scoreInputRecords", JSON.stringify(datas));
      window.TKH.calcMallScoreExWeb2(0, '消费积分');
    }
  });

  $(".skip-btn").on("click", function() {
      layer.open({
        type:1,
        title: "温馨提示",
        area:"500px",
        content:$('.tishibuton-area')
      });
  });
});
</script>
