
<div id="main">
  <div class="title">
    <div>
      <img src="/images/dhlp2.png?timestamp=<%= timestamp %>">消费积分 -
      <img src="/images/qian.png?timestamp=<%= timestamp %>">消费录入
    </div>
    <div>Purchase Points - Purchase Entry</div>
  </div>
  <div class="content">
    <div class="content_1">
      <div class="act">
        <p>
          <img src="/images/qian.png?timestamp=<%= timestamp %>">
          积分录入 / Score Input
        </p>
      </div>
    </div>
    <div class="content_2">
      <a href="javascript:void (0)" class="xinZeng" onClick="window.TKH.addScoreInput();">增加记录 / Add record</a>
    </div>
  </div>
  <div class="anNiu">
    <a href="search.html" class="sy">上一页<br/>Previous</a>
    <a href="javascript:void(0);" class="xy">提交<br/>Submit</a>
  </div>
</div>
<div class="xuanZe">
  <div>
    <a href="javascript:void(0);" class="xuanZe_gb">
      <img src="/images/gb.png?timestamp=<%= timestamp %>">
    </a>
    <p>
      <img src="/images/xuanZe.png?timestamp=<%= timestamp %>">
      请选择商户 / Find merchant
    </p>
    <div class="hangHu"></div>
  </div>
</div>
<div class="gn">
  <div class="dj">
    <div>
      <img src="/images/gn1.png?timestamp=<%= timestamp %>" class="xs" alt="">
      <img src="/images/gn2.png?timestamp=<%= timestamp %>" class="yc" alt="">
    </div>

    <div style="display:none;">
      <img src="/images/gn2.png?timestamp=<%= timestamp %>">
    </div>
  </div>
  <div class="nr">
    <div>礼品兑换系统</div>
    <p class="lp">
      <a href="search.html">
        <img src="/images/dhlp.png?timestamp=<%= timestamp %>">礼品兑换</a></p>
    <p class="mm">
      <img src="/images/bi.png?timestamp=<%= timestamp %>" class="bi" alt="">修改密码</p>
    <p class="tuichu" onclick="window.TKH.logout();">
      <img src="/images/dl2.png?timestamp=<%= timestamp %>">退出登录</p>
    <div class="renWu">
      <img src="/images/renWu.png?timestamp=<%= timestamp %>">
      <p id="userGid"></p>
      <p class="time"></p>
    </div>
  </div>
</div>
<div class="xg">
  <div>
    <a href="javascript:void (0)" class="gb">
      <img src="/images/gb.png?timestamp=<%= timestamp %>"></a>
    <div class="xg_content">
      <div class="suo">
        <img src="/images/bi.png?timestamp=<%= timestamp %>"></div>
      <div class="xg_info">
        <p class="title">修改密码</p>
        <input type="password" id="oldPassword" placeholder="旧密码" />
        <input type="password" id="newPassword" placeholder="新密码" />
        <input type="password" id="rePassword" placeholder="再次输入新密码" />
        <a onclick='window.ServerAPI.resetPassword();' href="javascript:void(0);" class="cs mima">确认修改密码</a></div>
    </div>
  </div>
</div>

<script>
$(function() {
  // 初始一个，积分输入框
  window.TKH.addScoreInput();

  //删除新增
  $(document).on('click', '.jian', function() {
    $(this).closest('.dq-wrapper').remove();
  });

  //关闭选择商户
  $('.xuanZe_gb').click(function() {
    $('.xuanZe').fadeOut(200);
  });

  $(document).on('blur', '.amount', function() {
    var val = $(this).val();
    var reg = /^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$/;
    if (!reg.test(val)) {
      layer.msg('请正确填写金额！', { time: 2000 });
    }
  });

  //下一页
  $('.xy').on('click', function() {
    if(!$("input.store-name").length) {
      layer.msg('你今日还没有消费记录，请填写消费记录！', {time: 2000});
      is_error = 1;
      return false;
    }
    var reg = /^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$/,
        store_code = '',
        amount,
        score,
        is_error = 0,
        data = null;
    $(".dq-wrapper").each(function() {
      store_code = $(this).find("input.store-code").val();
      amount = $(this).find("input.amount").val();
      serialnum = $(this).find("input.serial-num").val();
      score = $(this).find("input.score").val();
      is_error = 0;

      if(!store_code.length) {
        layer.tips('店铺名称不能为空', $(this).find('.store-name'), { tips: [3, '#faab20'] });
        is_error = 1;
        return false;
      }

      if(!serialnum.length) {
        layer.tips('流水号不能为空', $(this).find('.serial-num'), { tips: [3, '#faab20'] });
        is_error = 1;
        return false;
      }

      if(serialnum.length > 30) {
        layer.tips('请输入正确的流水号', $(this).find('.serial-num'), { tips: [3, '#faab20'] });
        is_error = 1;
        return false;
      }

      if(!amount.length) {
        layer.tips('请正确填写金额', $(this).find('.amount'), { tips: [3, '#faab20'] });
        is_error = 1;
        return false;
      }

      data = {
        card_number: window.localStorage.getItem('sFCARDNUM'),
        show_code: store_code,
        real_amt: amount,
        score: parseInt(amount)
      };

      console.log(data);
      if (!is_error) {
        window.TKH.calcMallScoreExWeb(data);
      }
    })
  });
});
</script>
